.grift
    height: 628px
    padding: 85px 0 87px 0
    background: #EFEFEF
    &_img
        display: block
        margin: 0 auto
    &_subheader
        font-weight: 400
        font-size: 30px
        line-height: 43px
        text-align: center
        color: #252525
    &_text
        margin-top: 45px
        font-family: 'Roboto'
        font-weight: 400
        font-size: 30px
        line-height: 43px
        text-align: center
        color: #252525
    &_btn
        @include btn
        margin-top: 52px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
        border: none
