@import "mixins"
.waiting
    min-height: 604px
    padding: 85px 0 75px 0
    background-color: #efefef
    &_header
        @include header
    &_divider
        @include divider
    &_subheader
        margin-top: 20px
        font-family: 'Roboto'
        font-weight: 400
        font-size: 23px
        text-align: center
        color: #4A4A4A
    &_wrapper
        display: flex
        justify-content: space-between
        margin-top: 45px
    &_item
        width: 339px
        text-align: center
    &_img
        width: 100%
    &_descr
        margin-top: 33px
        color: #4a4a4a
        font-family: Roboto
        font-size: 15px
        font-weight: 300
        line-height: 21px
